<h2><a class="link" href="/all_animals/new">Add new animal</a></h2>

<% @animals.each do |animal| %>

<div class="all_animals">
    <p>Name: <%= animal.name %></p>
    <p>Age: <%= animal.age %></p>
    <p>Type: <%= animal.type %></p>
    <p>Breed: <%= animal.breed %></p>
    <p>Adoption status: <%= animal.status_to_b %></p>
    <p>Admittion date: <%= animal.admittion_date %></p>
    <h2><a class="link" href="/all_animals/<%= animal.id %>/edit">Update an animal</a></h2>
   <form class="" action="/all_animals/<%= animal.id %>/delete" method="post">
     <input type="hidden" name="name" value="<%= animal.name %>"/>
     <input type="hidden" name="age"  value="<%= animal.age %>"/>
     <input type="hidden" name="type" value="<%= animal.type %>"/>
     <input type="hidden" name="breed" value="<%= animal.breed %>"/>
     <input type="hidden" name="adopt_status" value="<%= animal.adopt_status %>"/>
     <input type="hidden" name="admittion_date" value="<%= animal.admittion_date %>"/>
     <input type="submit" value="Delete animal"/>
   </form>
</div>

<% end %>
