<h2>Our Animals</h2>

<% @animals.each do |animal| %>
<% if animal.adopt_status == 't' %>

<div class="all_animals">
    <p>Name: <%= animal.name %></p>
    <p>Age: <%= animal.age %></p>
    <p>Type: <%= animal.type %></p>
    <p>Breed: <%= animal.breed %></p>
    <p>Adoption status: <%= animal.adopt_status %></p>
    <p>Admittion date: <%= animal.admittion_date %></p>
</div>

<% end %>
<% end %>
