
<h2>What animal would you like? eg dog.</h2>

<div class=searchbox>
  <form class="" action="/adopt/search" method="get">
    <input type="text" name="search_name" value="">
    <input type="submit" value="Search">
  </form>
</div>

<div>
    <% @animals.each do |animal| %>
      <div class="all_animals">
        <p>Name: <%= animal.name %></p>
        <p>Age: <%= animal.age %></p>
        <p>Type: <%= animal.type %></p>
        <p>Breed: <%= animal.breed %></p>
        <p>Adoption status: <%= animal.adopt_status %></p>
        <p>Admittion date: <%= animal.admittion_date %></p>
      </div>
    <% end %>
</div>
