<h2>All owners</h2>

<li><a href="/all_owners/new">Add new owner</a></li>

<% @owners.each do |owner| %>

<div class="all_animals">
  <p>First name: <%= owner.first_name %></p>
  <p>Second name: <%= owner.second_name %></p>
  <p>Animal: <%= owner.animal.name %></p>
  <p>Dob: <%= owner.dob %></p>
  <p>Address: <%= owner.address %></p>
  <p>City: <%= owner.city %></p>
  <p>Postcode: <%= owner.post_code %></p>
  <p>Email_address: <%= owner.email_address %></p>
  <p>Phone number: <%= owner.phone_number %></p>
</div>

<% end %>
